################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/TesteConsoleNet/.vs/TesteConsoleNet
/TesteConsoleNet/obj
